@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply bg-neutral-900 text-white
}

.swiper-slide {
    width: auto !important;
}

.swiper-button-prev, .swiper-button-next {
    --swiper-navigation-color: theme(colors.teal.300);
    --swiper-navigation-size: 20px;
    @apply bg-black/40 rounded-full p-5 hover:bg-black/70
}

.slick-slide > div { margin: 0 10px; }

.swiper-wrapper {
    @apply space-x-2 lg:space-x-5
}